body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1,
h2 {
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
}

.service {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: box-shadow 0.3s ease;
    max-width: 800px;
    margin: 20px auto;
}

.service:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}


.testimonial {
    margin: 20px 0;
    padding: 10px;
    border-left: 4px solid #007BFF;
    background: #e9f7ff;
}

.contact {
    margin-top: 30px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}

.contact .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: rgb(194, 167, 167);
    border-radius: 4rem;
    font-size: 1rem;
    color: #403eaf;
    letter-spacing: 0.1rem;
    font-weight: 900;
    border: 2px solid #131313;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    margin: 0 300px;
}